*.yaml
*.log
!custom_components/gios
!custom_components/gios/manifest.json
!gios.json
!custom_components/gios/.translation/en.json
!custom_components/gios/.translation/pl.json
custom_components/hacs
python_scripts/
appdaemon/
appdaemon/apps/
__pycache__/
*.db
*.conf
.HA_VERSION
.gitignore
.storage
.vscode
.cloud
!.gitignore